<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

      <table width="auto" border="1">
      <tbody>
        <form action="/" method="POST">
        <tr>
          <td width="55px" align="center" >&nbsp;DB27</td>
          <td>&nbsp;<input name="txtCountDB27" type="text"></td>
          <td>&nbsp;<input name="txtDB27" type="text"></td>
          <td>&nbsp;<input name="S_DB27" type="submit"></td>
        </tr>
      </form>
      <form>
      <tr>
         <td width="55px" align="center" >&nbsp;DB30</td>
          <td>&nbsp;<input name="txtCountDB30"  type="text"></td>
          <td>&nbsp;<input name="txtDB30" type="text"></td>
          <td>&nbsp;<input name="S_DB30" type="submit"></td>
        </tr>
      </form>
       </tbody>
    </table>
    
  </body>
</html>
